<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="src/vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Test suite">
            <directory>./src/Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./src/Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
